{% extends 'base.html.twig' %}

{% block title %}CollectionLivre index{% endblock %}

{% block body %}
    <h1>CollectionLivre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for collection_livre in collection_livres %}
            <tr>
                <td>{{ collection_livre.id }}</td>
                <td>
                    <a href="{{ path('app_collection_livre_show', {'id': collection_livre.id}) }}">show</a>
                    <a href="{{ path('app_collection_livre_edit', {'id': collection_livre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_collection_livre_new') }}">Create new</a>
{% endblock %}
